<!--The content below is only a placeholder and can be replaced.-->
<html>
<div style="text-align:center">
        <h1>
          {{ title }}!
        </h1>
        <img width="300" alt="Marvellous" src="https://scontent.fpnq2-1.fna.fbcdn.net/v/t31.0-8/10604505_1436804186595722_3389698752302960233_o.png?_nc_cat=0&oh=86b79c39e40461c5a94e77ae9c234975&oe=5BB0014E">
        <br>
        Enter Input : <input type="text" name="input"><br>
        Marvellous Infosystems   
       <app-marvellous-comp></app-marvellous-comp>                                     
      </div>
</html>      
      
      